// colors

$event-color-1: #1b3dec; // Smalt Blue
$event-color-2: #6411db; // Martinique
$event-color-3: #3a09a1; // Edward
$event-color-4: #5b0a94; // Rajah

$text-color: #222222;
$border-color: #EAEAEA;
$bg-color: white;
$link-color: $event-color-3;

// fonts

$primary-font: 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 5;
$row-height: 50px;
